In [1]:
# resolving imports
import os
import pandas as pd
import numpy as np

In [2]:
# peeking the dataset
df = pd.read_csv('hyd_v2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   active              19110 non-null  bool
 1   amenities           18938 non-null  object
 2   balconies           9574 non-null   float64
 3   bathroom            19110 non-null  int64
 4   combineDescription  0 non-null      float64
 5   completeStreetName  19108 non-null  object
 6   deposit             19110 non-null  int64
 7   facing              9569 non-null   object
 8   facingDesc          9569 non-null   object
 9   floor               19110 non-null  int64
 10  furnishingDesc      19110 non-null  object
 11  gym                 19110 non-null  bool
 12  id                  19110 non-null  object
 13  isMaintenance       19110 non-null  bool
 14  lift                19110 non-null  bool
 15  loanAvailable       19110 non-null  bool
 16  locality            19104 non-null  object
 17  localityId          19110 non-null  object
 18  location            19110 non-null  object
 19  maintenanceAmount   9452 non-null   float64
 20  ownerName           19109 non-null  object
 21  parking             19110 non-null  object
 22  parkingDesc         18160 non-null  object
 23  propertyTitle       19110 non-null  object
 24  propertyType        19110 non-null  object
 25  property_age        19110 non-null  int64
 26  property_size       19110 non-null  int64
 27  reactivationSource  9194 non-null   object
 28  rent_amount         19110 non-null  int64
 29  sharedAccomodation  19110 non-null  bool
 30  shortUrl            19110 non-null  object
 31  swimmingPool        19110 non-null  bool
 32  totalFloor          19110 non-null  int64
 33  type_bhk            19110 non-null  object
 34  waterSupply         9886 non-null   object
 35  weight              0 non-null      float64
dtypes: bool(7), float64(4), int64(7), object(18)
memory usage: 4.4+ MB

In [3]:
df.isnull().sum()

active                    0
amenities               172
balconies              9536
bathroom                  0
combineDescription    19110
completeStreetName        2
deposit                   0
facing                 9541
facingDesc             9541
floor                     0
furnishingDesc            0
gym                       0
id                        0
isMaintenance             0
lift                      0
loanAvailable             0
locality                  6
localityId                0
location                  0
maintenanceAmount      9658
ownerName                 1
parking                   0
parkingDesc             950
propertyTitle             0
propertyType              0
property_age              0
property_size             0
reactivationSource     9916
rent_amount               0
sharedAccomodation        0
shortUrl                  0
swimmingPool              0
totalFloor                0
type_bhk                  0
waterSupply            9224
weight                19110
dtype: int64

In [5]:
df = df.drop(['balconies', 'combineDescription', 'facing', 'facingDesc', 'maintenanceAmount', 'waterSupply', 'weight'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   active              19110 non-null  bool
 1   amenities           18938 non-null  object
 2   bathroom            19110 non-null  int64
 3   completeStreetName  19108 non-null  object
 4   deposit             19110 non-null  int64
 5   floor               19110 non-null  int64
 6   furnishingDesc      19110 non-null  object
 7   gym                 19110 non-null  bool
 8   id                  19110 non-null  object
 9   isMaintenance       19110 non-null  bool
 10  lift                19110 non-null  bool
 11  loanAvailable       19110 non-null  bool
 12  locality            19104 non-null  object
 13  localityId          19110 non-null  object
 14  location            19110 non-null  object
 15  ownerName           19109 non-null  object
 16  parking             19110 non-null  object
 17  parkingDesc         18160 non-null  object
 18  propertyTitle       19110 non-null  object
 19  propertyType        19110 non-null  object
 20  property_age        19110 non-null  int64
 21  property_size       19110 non-null  int64
 22  reactivationSource  9194 non-null   object
 23  rent_amount         19110 non-null  int64
 24  sharedAccomodation  19110 non-null  bool
 25  shortUrl            19110 non-null  object
 26  swimmingPool        19110 non-null  bool
 27  totalFloor          19110 non-null  int64
 28  type_bhk            19110 non-null  object
dtypes: bool(7), int64(7), object(15)
memory usage: 3.3+ MB

In [7]:
df.isnull().sum().sort_values(ascending=False)

reactivationSource    9916
parkingDesc            950
amenities              172
locality                 6
completeStreetName       2
ownerName                1
active                   0
totalFloor               0
swimmingPool             0
shortUrl                 0
sharedAccomodation       0
rent_amount              0
property_size            0
property_age             0
propertyType             0
propertyTitle            0
location                 0
parking                  0
localityId               0
loanAvailable            0
lift                     0
isMaintenance            0
id                       0
gym                      0
furnishingDesc           0
floor                    0
deposit                  0
bathroom                 0
type_bhk                 0
dtype: int64

In [13]:
df['parkingDesc'].describe()

count            18160
unique               3
top       Bike and Car
freq              9599
Name: parkingDesc, dtype: object

In [14]:
df['parkingDesc'] = df['parkingDesc'].fillna(df['parkingDesc'].mode()[0])
df['parkingDesc'].describe()

count            19110
unique               3
top       Bike and Car
freq             10549
Name: parkingDesc, dtype: object

In [15]:
df.isnull().sum().sort_values(ascending=False)

amenities             172
locality                6
completeStreetName      2
ownerName               1
active                  0
parking                 0
totalFloor              0
swimmingPool            0
shortUrl                0
sharedAccomodation      0
rent_amount             0
property_size           0
property_age            0
propertyType            0
propertyTitle           0
parkingDesc             0
location                0
localityId              0
loanAvailable           0
lift                    0
isMaintenance           0
id                      0
gym                     0
furnishingDesc          0
floor                   0
deposit                 0
bathroom                0
type_bhk                0
dtype: int64

In [16]:
df['amenities'].describe()

count                                                 18938
unique                                                 3383
top       {"LIFT":false,"GYM":false,"INTERNET":false,"AC...
freq                                                   6464
Name: amenities, dtype: object

In [17]:
df['amenities'].iloc[0]

'{"LIFT":true,"GYM":false,"INTERNET":false,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":true,"FS":false,"SERVANT":false,"SECURITY":true,"SC":false,"GP":false,"PARK":false,"RWH":true,"STP":false,"HK":false,"PB":true,"VP":true}'

In [19]:
import pandas as pd
import json

def parse_json(column_value):
    try:
        if pd.notna(column_value):
            return json.loads(str(column_value).replace("'", "\""))
        else:
            return None
    except json.JSONDecodeError:
        return None

df['amenities'] = df['amenities'].apply(parse_json)

amenities_df = pd.json_normalize(df['amenities'])
df = pd.concat([df, amenities_df], axis=1).drop('amenities', axis=1)

In [21]:
df.columns

Index(['active', 'bathroom', 'completeStreetName', 'deposit', 'floor',
       'furnishingDesc', 'gym', 'id', 'isMaintenance', 'lift', 'loanAvailable',
       'locality', 'localityId', 'location', 'ownerName', 'parking',
       'parkingDesc', 'propertyTitle', 'propertyType', 'property_age',
       'property_size', 'rent_amount', 'sharedAccomodation', 'shortUrl',
       'swimmingPool', 'totalFloor', 'type_bhk', 'LIFT', 'GYM', 'INTERNET',
       'AC', 'CLUB', 'INTERCOM', 'POOL', 'CPA', 'FS', 'SERVANT', 'SECURITY',
       'SC', 'GP', 'PARK', 'RWH', 'STP', 'HK', 'PB', 'VP'],
      dtype='object')

In [22]:
df.isnull().sum().sort_values(ascending=False)

SERVANT               514
GP                    514
RWH                   506
CLUB                  506
CPA                   506
VP                    506
STP                   506
SECURITY              320
HK                    180
SC                    180
AC                    180
POOL                  172
LIFT                  172
GYM                   172
INTERNET              172
INTERCOM              172
PB                    172
PARK                  172
FS                    172
locality                6
completeStreetName      2
ownerName               1
totalFloor              0
type_bhk                0
active                  0
swimmingPool            0
localityId              0
deposit                 0
floor                   0
furnishingDesc          0
gym                     0
id                      0
isMaintenance           0
lift                    0
loanAvailable           0
location                0
bathroom                0
parking                 0
parkingDesc             0
propertyTitle           0
propertyType            0
property_age            0
property_size           0
rent_amount             0
sharedAccomodation      0
shortUrl                0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   active              19110 non-null  bool
 1   bathroom            19110 non-null  int64
 2   completeStreetName  19108 non-null  object
 3   deposit             19110 non-null  int64
 4   floor               19110 non-null  int64
 5   furnishingDesc      19110 non-null  object
 6   gym                 19110 non-null  bool
 7   id                  19110 non-null  object
 8   isMaintenance       19110 non-null  bool
 9   lift                19110 non-null  bool
 10  loanAvailable       19110 non-null  bool
 11  locality            19104 non-null  object
 12  localityId          19110 non-null  object
 13  location            19110 non-null  object
 14  ownerName           19109 non-null  object
 15  parking             19110 non-null  object
 16  parkingDesc         19110 non-null  object
 17  propertyTitle       19110 non-null  object
 18  propertyType        19110 non-null  object
 19  property_age        19110 non-null  int64
 20  property_size       19110 non-null  int64
 21  rent_amount         19110 non-null  int64
 22  sharedAccomodation  19110 non-null  bool
 23  shortUrl            19110 non-null  object
 24  swimmingPool        19110 non-null  bool
 25  totalFloor          19110 non-null  int64
 26  type_bhk            19110 non-null  object
 27  LIFT                18938 non-null  object
 28  GYM                 18938 non-null  object
 29  INTERNET            18938 non-null  object
 30  AC                  18930 non-null  object
 31  CLUB                18604 non-null  object
 32  INTERCOM            18938 non-null  object
 33  POOL                18938 non-null  object
 34  CPA                 18604 non-null  object
 35  FS                  18938 non-null  object
 36  SERVANT             18596 non-null  object
 37  SECURITY            18790 non-null  object
 38  SC                  18930 non-null  object
 39  GP                  18596 non-null  object
 40  PARK                18938 non-null  object
 41  RWH                 18604 non-null  object
 42  STP                 18604 non-null  object
 43  HK                  18930 non-null  object
 44  PB                  18938 non-null  object
 45  VP                  18604 non-null  object
dtypes: bool(7), int64(7), object(32)
memory usage: 5.8+ MB

In [27]:
# Assuming amenities_df is the DataFrame containing the amenities columns
categorical_columns = []

for column in amenities_df.columns:
    unique_values = amenities_df[column].unique()
    
    if len(unique_values) <= 10:  # Adjust the threshold as needed
        categorical_columns.append(column)

print("Categorical Columns:")
print(categorical_columns)

Categorical Columns:
['LIFT', 'GYM', 'INTERNET', 'AC', 'CLUB', 'INTERCOM', 'POOL', 'CPA', 'FS', 'SERVANT', 'SECURITY', 'SC', 'GP', 'PARK', 'RWH', 'STP', 'HK', 'PB', 'VP']

In [30]:
for column in categorical_columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

df.isnull().sum().sort_values(ascending=False)

locality              6
completeStreetName    2
ownerName             1
active                0
FS                    0
LIFT                  0
GYM                   0
INTERNET              0
AC                    0
CLUB                  0
INTERCOM              0
POOL                  0
CPA                   0
SERVANT               0
totalFloor            0
SECURITY              0
SC                    0
GP                    0
PARK                  0
RWH                   0
STP                   0
HK                    0
PB                    0
type_bhk              0
shortUrl              0
swimmingPool          0
localityId            0
deposit               0
floor                 0
furnishingDesc        0
gym                   0
id                    0
isMaintenance         0
lift                  0
loanAvailable         0
location              0
bathroom              0
parking               0
parkingDesc           0
propertyTitle         0
propertyType          0
property_age          0
property_size         0
rent_amount           0
sharedAccomodation    0
VP                    0
dtype: int64

In [31]:
df['locality'].describe()

count          19104
unique          2638
top       Kukatpally
freq            1525
Name: locality, dtype: object

In [32]:
df['locality'] = df['locality'].fillna(df['locality'].mode()[0])
df = df.drop(columns=['ownerName'])
df.isnull().sum().sort_values(ascending=False)

completeStreetName    2
active                0
FS                    0
type_bhk              0
LIFT                  0
GYM                   0
INTERNET              0
AC                    0
CLUB                  0
INTERCOM              0
POOL                  0
CPA                   0
SERVANT               0
swimmingPool          0
SECURITY              0
SC                    0
GP                    0
PARK                  0
RWH                   0
STP                   0
HK                    0
PB                    0
totalFloor            0
shortUrl              0
bathroom              0
locality              0
deposit               0
floor                 0
furnishingDesc        0
gym                   0
id                    0
isMaintenance         0
lift                  0
loanAvailable         0
localityId            0
sharedAccomodation    0
location              0
parking               0
parkingDesc           0
propertyTitle         0
propertyType          0
property_age          0
property_size         0
rent_amount           0
VP                    0
dtype: int64

In [33]:
df['completeStreetName'].describe()

count                                                 19108
unique                                                15559
top       ISB Road, Wipro Junction, Gachibowli Financial...
freq                                                     48
Name: completeStreetName, dtype: object

In [34]:
df['completeStreetName'] = df['completeStreetName'].fillna(df['completeStreetName'].mode()[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   active              19110 non-null  bool
 1   bathroom            19110 non-null  int64
 2   completeStreetName  19110 non-null  object
 3   deposit             19110 non-null  int64
 4   floor               19110 non-null  int64
 5   furnishingDesc      19110 non-null  object
 6   gym                 19110 non-null  bool
 7   id                  19110 non-null  object
 8   isMaintenance       19110 non-null  bool
 9   lift                19110 non-null  bool
 10  loanAvailable       19110 non-null  bool
 11  locality            19110 non-null  object
 12  localityId          19110 non-null  object
 13  location            19110 non-null  object
 14  parking             19110 non-null  object
 15  parkingDesc         19110 non-null  object
 16  propertyTitle       19110 non-null  object
 17  propertyType        19110 non-null  object
 18  property_age        19110 non-null  int64
 19  property_size       19110 non-null  int64
 20  rent_amount         19110 non-null  int64
 21  sharedAccomodation  19110 non-null  bool
 22  shortUrl            19110 non-null  object
 23  swimmingPool        19110 non-null  bool
 24  totalFloor          19110 non-null  int64
 25  type_bhk            19110 non-null  object
 26  LIFT                19110 non-null  bool
 27  GYM                 19110 non-null  bool
 28  INTERNET            19110 non-null  bool
 29  AC                  19110 non-null  bool
 30  CLUB                19110 non-null  bool
 31  INTERCOM            19110 non-null  bool
 32  POOL                19110 non-null  bool
 33  CPA                 19110 non-null  bool
 34  FS                  19110 non-null  bool
 35  SERVANT             19110 non-null  bool
 36  SECURITY            19110 non-null  bool
 37  SC                  19110 non-null  bool
 38  GP                  19110 non-null  bool
 39  PARK                19110 non-null  bool
 40  RWH                 19110 non-null  bool
 41  STP                 19110 non-null  bool
 42  HK                  19110 non-null  bool
 43  PB                  19110 non-null  bool
 44  VP                  19110 non-null  bool
dtypes: bool(26), int64(7), object(12)
memory usage: 3.2+ MB

In [37]:
df.head(3)

,active,bathroom,completeStreetName,deposit,floor,furnishingDesc,gym,id,isMaintenance,lift,loanAvailable,locality,localityId,location,parking,parkingDesc,propertyTitle,propertyType,property_age,property_size,rent_amount,sharedAccomodation,shortUrl,swimmingPool,totalFloor,type_bhk,LIFT,GYM,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
0,True,3,"Shreya carnation, Block I, NCB Enclave, Gachib...",90000,3,Semi,False,8a9fa082775d477e0177610b187423b9,True,True,True,Gachibowli,gachibowli_hyderabad,"17.465080245131944000,78.340134322090170000",BOTH,Bike and Car,"3 BHK For Rent in Shreya Carnation, Gachibowli",RENT,5,2200,28000,False,http://nobr.kr/sv/9Kvqj,False,5,BHK3,True,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,True,True
1,True,2,"Inner Ring Rd, near RTO Bandlaguda South Zone",45000,2,Unfurnished,False,ff8081816ba1baad016ba23a96591bb5,False,False,True,Chandrayangutta,chandrayangutta_hyderabad,"17.320233889090165000,78.467765880356640000",TWO_WHEELER,Bike,3 BHK For Rent in Chandrayangutta,RENT,1,1200,15000,False,http://nobr.kr/sv/j2pD6,False,2,BHK3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,True,3,"Rd Number 2, Shirdi Sai Nagar, Manikonda, Hyde...",80000,0,Semi,True,8a9f80f170de62150170e23c1db35ae0,True,True,True,Manikonda,manikonda_hyderabad,"17.403649100000000000,78.379442099999990000",BOTH,Bike and Car,"3 BHK For Rent in Amrutha Avenue, Manikonda",RENT,0,1800,16000,False,http://nobr.kr/sv/TXJmj,False,3,BHK3,True,True,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,True,True

In [38]:
df = df.drop(columns=['id', 'localityId', 'parkingDesc', 'propertyTitle', 'shortUrl', 'completeStreetName'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   active              19110 non-null  bool
 1   bathroom            19110 non-null  int64
 2   deposit             19110 non-null  int64
 3   floor               19110 non-null  int64
 4   furnishingDesc      19110 non-null  object
 5   gym                 19110 non-null  bool
 6   isMaintenance       19110 non-null  bool
 7   lift                19110 non-null  bool
 8   loanAvailable       19110 non-null  bool
 9   locality            19110 non-null  object
 10  location            19110 non-null  object
 11  parking             19110 non-null  object
 12  propertyType        19110 non-null  object
 13  property_age        19110 non-null  int64
 14  property_size       19110 non-null  int64
 15  rent_amount         19110 non-null  int64
 16  sharedAccomodation  19110 non-null  bool
 17  swimmingPool        19110 non-null  bool
 18  totalFloor          19110 non-null  int64
 19  type_bhk            19110 non-null  object
 20  LIFT                19110 non-null  bool
 21  GYM                 19110 non-null  bool
 22  INTERNET            19110 non-null  bool
 23  AC                  19110 non-null  bool
 24  CLUB                19110 non-null  bool
 25  INTERCOM            19110 non-null  bool
 26  POOL                19110 non-null  bool
 27  CPA                 19110 non-null  bool
 28  FS                  19110 non-null  bool
 29  SERVANT             19110 non-null  bool
 30  SECURITY            19110 non-null  bool
 31  SC                  19110 non-null  bool
 32  GP                  19110 non-null  bool
 33  PARK                19110 non-null  bool
 34  RWH                 19110 non-null  bool
 35  STP                 19110 non-null  bool
 36  HK                  19110 non-null  bool
 37  PB                  19110 non-null  bool
 38  VP                  19110 non-null  bool
dtypes: bool(26), int64(7), object(6)
memory usage: 2.4+ MB

In [39]:
df.head(3)

,active,bathroom,deposit,floor,furnishingDesc,gym,isMaintenance,lift,loanAvailable,locality,location,parking,propertyType,property_age,property_size,rent_amount,sharedAccomodation,swimmingPool,totalFloor,type_bhk,LIFT,GYM,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
0,True,3,90000,3,Semi,False,True,True,True,Gachibowli,"17.465080245131944000,78.340134322090170000",BOTH,RENT,5,2200,28000,False,False,5,BHK3,True,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,True,True
1,True,2,45000,2,Unfurnished,False,False,False,True,Chandrayangutta,"17.320233889090165000,78.467765880356640000",TWO_WHEELER,RENT,1,1200,15000,False,False,2,BHK3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,True,3,80000,0,Semi,True,True,True,True,Manikonda,"17.403649100000000000,78.379442099999990000",BOTH,RENT,0,1800,16000,False,False,3,BHK3,True,True,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,True,True

In [40]:
df['location'].describe()

count                                           19110
unique                                          16065
top       17.423441796248294000,78.341291944094050000
freq                                               40
Name: location, dtype: object

In [41]:
df['location'] = df['location'].apply(eval).apply(tuple)
df['location'].describe()

count                                       19110
unique                                      16065
top       (17.423441796248294, 78.34129194409405)
freq                                           40
Name: location, dtype: object

In [42]:
df['type_bhk'].describe()

count     19110
unique        6
top        BHK2
freq       9242
Name: type_bhk, dtype: object

In [43]:
print(df['type_bhk'].unique())

['BHK3' 'BHK2' 'BHK1' 'BHK4' 'RK1' 'BHK4PLUS']

In [58]:
df.to_csv('preprocessed_data.csv', index=False)

In [57]:
df['location'] = df['location'].apply(str)

In [54]:
df = df.drop(columns=['gym'])

In [59]:
import sqlite3

conn = sqlite3.connect('preprocessed_data.db')
df.to_sql('hyd_rent_params', conn, index=False, if_exists='replace')

19110